<div class="container">

  <h1>Create a new dose</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: Ingredient.all %>
    <%= f.submit 'Create Dose', class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Go back', cocktail_path(@cocktail) %>
</div>
